body {
    background-color: 6EA4BF;
}

h1 {
    font-family: 'Neutra Text';
    font-size: large;
    color: 41337A;
}

h2 {
    font-family: 'Minion Pro';
    font-size: larger;
}

p {

}

section {
    background-color: C2EFEB;
    color: 331E36;
}